.App {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

.autorize-wrapper {
  width: 720px;
  margin: 0 auto;
  padding-top: 80px;
}
.autorize-wrapper img {
  width: 437px;
  display: block;
  margin: 0 auto;
}
.autorize-wrapper input {
  margin-top: 55px;
  width: 720px;
  height: 133px;
  border-radius: 24px;
  border: 1px solid #6A6A6A;
  padding-left: 35px;
  font-weight: 400;
  font-size: 32px;
}
.autorize-wrapper button {
  width: 720px;
  padding: 23px 0;
  margin-top: 55px;
  background: #79A7FF;
  border: 1px solid #6A6A6A;
  border-radius: 24px;
  font-weight: 700;
  font-size: 42px;
  color: #fff;
  cursor: pointer;
}

.home-wrapper {
  width: 950px;
  margin: 0 auto;
  padding-top: 15px;
}
.home-wrapper .home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-wrapper .home-header img {
  width: 103px;
}
.home-wrapper .home-header .search {
  width: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px;
}
.home-wrapper .home-header .search img {
  width: 12px;
}
.home-wrapper .home-header .search p {
  font-weight: 400;
  font-size: 16px;
  color: #8E8E8E;
  margin: 0;
  padding-left: 12px;
}
.home-wrapper .home-header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-wrapper .home-header .icons .add-post {
  cursor: pointer;
}
.home-wrapper .home-header .icons div:not(:first-child) {
  margin-left: 25px;
}
.home-wrapper .home-header .icons img {
  width: 24px;
}
.home-wrapper .home-header .icons .profile {
  width: 24px;
  background-color: #C4C4C4;
  border-radius: 50%;
  height: 24px;
}
.home-wrapper .posts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-wrapper .posts-items .posts {
  width: 600px;
  padding-top: 30px;
}
.home-wrapper .posts-items .posts .posts-header {
  padding: 14px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-wrapper .posts-items .posts .posts-header .avatar {
  width: 32px;
  border-radius: 50%;
}
.home-wrapper .posts-items .posts .posts-header .left-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-wrapper .posts-items .posts .posts-header .left-items p {
  color: #262626;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  padding-left: 14px;
}
.home-wrapper .posts-items .posts .posts-header .right-items img {
  width: 24px;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
}
.home-wrapper .posts-items .posts .posts-header .right-items .dots-none {
  display: none;
}
.home-wrapper .posts-items .posts .posts-header .right-items-none {
  display: none;
}
.home-wrapper .posts-items .map-block img {
  width: 600px;
  height: 600px;
}
.home-wrapper .posts-items .post-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
}
.home-wrapper .posts-items .post-icons .left-icons img {
  width: 24px;
}
.home-wrapper .posts-items .post-icons .left-icons img:not(:first-child) {
  margin-left: 20px;
}
.home-wrapper .posts-items .post-footer {
  padding: 0 20px;
}
.home-wrapper .posts-items .post-footer .likes {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
.home-wrapper .posts-items .post-footer span {
  font-weight: 500;
  font-size: 14px;
  padding-right: 5px;
}
.home-wrapper .posts-items .post-footer .desc {
  line-height: 18px;
}
.home-wrapper .posts-items .post-footer .comments {
  color: #8E8E8E;
  margin: 0;
  padding-top: 9px;
}
.home-wrapper .posts-items .post-footer .created {
  color: #8E8E8E;
  font-size: 12px;
  margin: 0;
  padding-top: 15px;
  text-transform: uppercase;
}
.home-wrapper .posts-items .post-footer .add-comment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-bottom: 21px;
}
.home-wrapper .posts-items .post-footer .add-comment .pos-absolute {
  position: absolute;
  left: 0;
  top: 9px;
}
.home-wrapper .posts-items .post-footer .add-comment p {
  margin: 0;
  padding-left: 12px;
  color: #8E8E8E;
}
.home-wrapper .posts-items .profil-info {
  padding-top: 60px;
  padding-left: 35px;
  width: 300px;
}
.home-wrapper .posts-items .profil-info .profil-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-wrapper .posts-items .profil-info .profil-header .left-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.home-wrapper .posts-items .profil-info .profil-header .left-items .krug {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin-right: 12px;
}
.home-wrapper .posts-items .profil-info .profil-header .left-items .first-p {
  padding-left: 3px;
  padding-top: 8px;
  margin: 0;
}
.home-wrapper .posts-items .profil-info .profil-header .left-items .second-p {
  margin: 0;
  margin-top: 3px;
}
.home-wrapper .posts-items .profil-info .profil-header .right-item {
  font-size: 12px;
  color: #0095F6;
  padding-top: 20px;
}
.home-wrapper .posts-items .profil-info .sug {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}
.home-wrapper .posts-items .profil-info .sug p {
  color: #8E8E8E;
}
.home-wrapper .posts-items .profil-info .sug .second-p {
  color: #262626;
  font-size: 12px;
}
.home-wrapper .posts-items .profil-info .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-wrapper .posts-items .profil-info .follow .left-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-wrapper .posts-items .profil-info .follow .left-items img {
  width: 32px;
  border-radius: 50%;
  margin-right: 12px;
}
.home-wrapper .posts-items .profil-info .follow .left-items .text .username {
  margin: 0;
}
.home-wrapper .posts-items .profil-info .follow .left-items .text .sug {
  font-size: 12px;
  color: #8E8E8E;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
.home-wrapper .posts-items .profil-info .follow .right-item {
  font-size: 12px;
  color: #0095F6;
}
.home-wrapper .posts-items .profil-info .follow-footer .first-text {
  width: 300px;
  padding-top: 32px;
  color: #8E8E8E;
  font-size: 12px;
}
.home-wrapper .posts-items .profil-info .follow-footer .second-text {
  color: #8E8E8E;
  font-size: 12px;
  padding-top: 18px;
}

.read-more-read-less {
  line-height: 18px;
  display: inline-block;
  padding-top: 8px;
}
.read-more-read-less button {
  border: none;
  color: #8E8E8E;
  cursor: pointer;
  margin-left: 10px;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  padding-top: 16px;
  border-radius: 24px;
  background-color: #fff;
  width: 650px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
}
.modal-content .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 32px;
}
.modal-content .modal-header .first-p {
  font-weight: 700;
  font-size: 20px;
}
.modal-content .modal-header .second-p {
  font-weight: 600;
  font-size: 18px;
  color: #0095F6;
  padding-left: 135px;
  cursor: pointer;
}
.modal-content hr {
  height: 1px;
  border: 1px solid #DBDBDB;
  background-color: #DBDBDB;
  -webkit-transform: rotate(-0.12deg);
      -ms-transform: rotate(-0.12deg);
          transform: rotate(-0.12deg);
  margin-top: 17px;
}
.modal-content .main .main-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-top: 225px;
  padding-bottom: 16px;
}
.modal-content .main .upload-file__wrapper {
  padding-bottom: 284px;
}
.modal-content .main .upload-file__wrapper .upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}
.modal-content .main .upload-file__wrapper .upload-file__label {
  display: block;
  text-align: center;
  width: 272px;
  margin: 0 auto;
  border: 1px solid #6A6A6A;
  background-color: #79A7FF;
  color: white;
  padding: 9px 27px;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.second-modal {
  opacity: 1;
  pointer-events: all;
}

.second-modal-content {
  border-radius: 24px;
  background-color: #fff;
  width: 956px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
}
.second-modal-content .second-modal-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 17px 17px 24px;
}
.second-modal-content .second-modal-content-header .arrow-img {
  width: 36px;
  cursor: pointer;
}
.second-modal-content .second-modal-content-header .first-p {
  font-weight: 700;
  font-size: 20px;
}
.second-modal-content .second-modal-content-header .second-p {
  font-weight: 600;
  font-size: 18px;
  color: #0095F6;
  cursor: pointer;
}
.second-modal-content .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 630px;
}
.second-modal-content .main .img-block img {
  width: 599px;
  height: 631px;
  border-bottom-left-radius: 24px;
}
.second-modal-content .main .img-block .prev-none {
  display: none;
}
.second-modal-content .main .main-items {
  width: 100%;
  padding-left: 16px;
}
.second-modal-content .main .main-items .ava {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-modal-content .main .main-items .ava img {
  width: 32px;
  border-radius: 50%;
}
.second-modal-content .main .main-items .ava .username {
  color: #262626;
  font-weight: 500;
  padding-left: 10px;
}
.second-modal-content .main .main-items .text-input {
  border: none;
  margin-top: 18px;
  font-weight: 300;
  color: black;
  outline: none;
}
.second-modal-content .main .main-items .text-input::-webkit-input-placeholder {
  color: black;
}
.second-modal-content .main .main-items .input-none {
  display: none;
}
.second-modal-content .main .main-items .main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 150px;
  padding-right: 24px;
}
.second-modal-content .main .main-items .main-footer .main-footer-img {
  width: 24px;
}
.second-modal-content .main .main-items .main-footer p {
  font-weight: 500;
  color: #999999;
}

.btns-wrapper {
  position: relative;
}
.btns-wrapper .first {
  position: absolute;
  left: -72px;
  top: 0;
  color: #F4FAFF;
  font-size: 11px;
  font-weight: 700;
  background-color: #2B3138;
  padding: 7px 0;
  width: 116px;
  text-align: center;
  border-radius: 20px;
  border: none;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.btns-wrapper .second {
  top: 31px;
}

.none {
  display: none;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}